# Importando as bibliotecas necessarias

In [8]:
import pandas as pd

In [9]:
df=pd.read_csv("/Users/chenyenpin/Downloads/Airplane_Crashes_and_Fatalities_Since_1908.csv", usecols=["Date", "Fatalities"])
df.head()

         Date  Fatalities
0  09/17/1908         1.0
1  07/12/1912         5.0
2  08/06/1913         1.0
3  09/09/1913        14.0
4  10/17/1913        30.0

Analisando qual o tipo de dados que Ã© "Date"

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5268 entries, 0 to 5267
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Date        5268 non-null   object
 1   Fatalities  5256 non-null   float64
dtypes: float64(1), object(1)
memory usage: 82.4+ KB

In [11]:
#transformando para datetime e substituicao para formatacao padrao
pd.to_datetime(df["Date"])

0      1908-09-17
1      1912-07-12
2      1913-08-06
3      1913-09-09
4      1913-10-17
          ...
5263   2009-05-20
5264   2009-05-26
5265   2009-06-01
5266   2009-06-07
5267   2009-06-08
Name: Date, Length: 5268, dtype: datetime64[ns]

Usando a funcao .astype() facilita caso precisamos passar mais de 1 coluna para data

In [12]:
df["Date"].astype("datetime64[ns]")

0      1908-09-17
1      1912-07-12
2      1913-08-06
3      1913-09-09
4      1913-10-17
          ...
5263   2009-05-20
5264   2009-05-26
5265   2009-06-01
5266   2009-06-07
5267   2009-06-08
Name: Date, Length: 5268, dtype: datetime64[ns]

In [13]:
df.head(1)

         Date  Fatalities
0  09/17/1908         1.0

Podemos passar tambem o parametro format para informar como esta o formato da nossa data para evitar que o pandas nao tenha o entendimento inadequado entre os dias e meses.

In [14]:
pd.to_datetime(df["Date"], format="%m/%d/%Y")

0      1908-09-17
1      1912-07-12
2      1913-08-06
3      1913-09-09
4      1913-10-17
          ...
5263   2009-05-20
5264   2009-05-26
5265   2009-06-01
5266   2009-06-07
5267   2009-06-08
Name: Date, Length: 5268, dtype: datetime64[ns]

Passando o parametro "parse_date" diretamente quando vamos ler o nosso arquivo, nesse caso ele transforma a nossa diretamente para formato DATETIME

In [15]:
df1=pd.read_csv("/Users/chenyenpin/Downloads/Airplane_Crashes_and_Fatalities_Since_1908.csv", parse_dates=["Date"], usecols=["Date", "Fatalities"])
df1.head()

        Date  Fatalities
0 1908-09-17         1.0
1 1912-07-12         5.0
2 1913-08-06         1.0
3 1913-09-09        14.0
4 1913-10-17        30.0

In [16]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5268 entries, 0 to 5267
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Date        5268 non-null   datetime64[ns]
 1   Fatalities  5256 non-null   float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 82.4 KB

Apos transformado a nossa coluna para data, podemos ter varias funcoes atribuidos a ela, tais como nome do dia da semana, trimestre etc

In [17]:
#passando a funcao quarter para determinar em qual trimestre a data se encontra.
df1["Quarter"]=df1["Date"].dt.quarter
df1.head()

        Date  Fatalities  Quarter
0 1908-09-17         1.0        3
1 1912-07-12         5.0        3
2 1913-08-06         1.0        3
3 1913-09-09        14.0        3
4 1913-10-17        30.0        4